// Colours
$very-warm: #f6f6f6;
$warm: #f6f6f6;
$normal: #f6f6f6;
$cold: #f6f6f6;
$very-cold: #f6f6f6;

// Breakpoints
$mobile-width: 500px;
@mixin mobile {
    @media (max-width: $mobile-width) {
        @content;
    }
}

// DOM Elements

//header styling

.weather-widget {
    width: 100%;
    color: white;
    font-family: league-gothic, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 5% 10%;

    @include mobile {
        padding: 2%;
    }

    &.very-warm { background-color: $very-warm; }
    &.warm { background-color: $warm; }
    &.normal { background-color: $normal; }
    &.cold { background-color: $cold; }
    &.very-cold { background-color: $very-cold; }
}

div #headerStyle{
   text-align: center; 
   color:#2a2a2a;
   font-weight: 700;
   font-size: xx-large;
   padding-bottom: 20px;
   display: inline;
}

#headerDiv{
   background-color: #f7f9f9;
   
}

.weeklyItem{
	color:  #2a2a2a;
	width: 150px;
	padding: 5px 40px 0px 40px;	
	background-color: #f7f9f9;
	border-style: dotted;
	border: 1px solid black;
    text-align: center;
}

.weekly-weather-widget{
	border-style: dotted;
	border-color: black;	
}


.city {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
}

.weather{
    display: table;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid white;
    
     

    @include mobile {
        height: 350px;
    }

     .wi {
        display: table-cell;
        vertical-align: middle;
        font-size: 20em;

         @include mobile {
            font-size: 15em;
         }
    }
	.weekly-icon{
		font-size: 2.5em;
	}
	@include mobile {
            font-size: 2em;
         }
}



.weather-details {
    overflow: hidden;
    margin-top: 35px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2.5em;
    
	    

    .temp {
        font-size: 2.5em;
        float: left;
        width: 25%;
        max-height: 200px;

        @include mobile {
            font-size: 2em;
        }

        .temp-number, .wi {
            vertical-align: top;
            line-height: 0.85em;
        }

        .wi {
            font-size: 1.5em; //1.5
            line-height: 0.8em;
        }
        
       
    }

    .humidity, .wind {
        font-size: 1em;

        @include mobile {
            font-size: 3em;
        }

        .wi {
            vertical-align: top;
             width: 50px; 
           

            @include mobile {
                width: 10px;
            }
        }
    }

    .humidity {
        margin-bottom: 1px;
        
    }

    .wind {
        .wi {
            font-size: .8em;
             margin-left: 55px; 
        }
        .vel {
            font-size: .9em; 
        }
    }
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

